body {
    background-image: url(dunder-Mifflin-building-the-office-where-location.jpg);
    background-size: cover;
    font-family: 'Major Mono Display', monospace;
}
li {
    font-family: 'Space Mono', monospace;
}
.main-content {
    background-color: white;
    opacity: 0.6;
}